<!-- bootstrap ruby style  -->
<div class="container">
  <h1>Post your Blog</h1>
    <%= form_for @post, :html => {:class => "form-horizontal center"} do |f| %>
        <div class="form-group">
          <%= f.label :image, class: "col-sm-2 control-label" %>
            <div class="col-sm-8">
              <%= f.text_field :image, class: "form-control" %>
            </div>
        </div>
        <div class="form-group">
          <%= f.label :title, "Title:", class: "col-sm-2 control-label" %>
            <div class="col-sm-8">
              <%= f.text_field :title, class: "form-control" %>
            </div>
        </div>
        <div class="form-group">
          <%= f.label :description, "Description:", class: "col-sm-2 control-label" %>
          <div class="col-sm-8">
            <%= f.text_area :description, class: "form-control" %>
          </div>
        </div>
            <%= f.submit "Submit Post", class: "btn btn-primary pull-right"  %>  
    <% end %>
</div>

